html{
    font-family: Garamond;
    margin: 0 auto;
    width: 100%;
}
#lewa1{
    height: 500px;
    width: 25%;
    background-color: lavender;
    float: left;
}
#lewa2{
    height: 300px;
    width: 25%;
    background-color: lavender;
    float: left;
}
#prawa1{
    height: 150px;
    width: 75%;
    background-color: indigo;
    font-size: 200%;
    text-align: center;
    float: right;
}
#prawa2{
    height: 650px;
    width: 75%;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    float: right;
}
#stopka{
    clear: both;
    background-color: indigo;
    color: white;
    text-align: right;
}
img{
    padding: 5px;
    margin: 10px;
}